# Introduction to Numpy

In [1]:
import numpy as np

Numpy has different data types but its main data type is `ndarray` where n stands for number and d stands for dimensional.

In [4]:
one_dimensional = np.array([1,2,3])
type(one_dimensional)

numpy.ndarray

In [2]:
two_dimensional =  np.array([
    [12.12, 22, 44],
    [33, 66.44, 99]
])

In [8]:
three_dimensional = np.array([
    [
        [15.5, 20, 44],
        [34, 23, 78.2],
        [43, 64.3, 76]
    ],
    [
        [24, 24, 24],
        [80, 69, 32],
        [12, 15, 19]
    ]
])

An array can have 1 to nth dimension but usually they are names as followed:
1. 1D = Vector
2. 2D and above = Matrix

In [14]:
one_dimensional.shape, two_dimensional.shape, three_dimensional.shape

((3,), (2, 3), (2, 3, 3))

We can look at how many dimensions any given array has using the `ndim` method.

In [15]:
one_dimensional.ndim, two_dimensional.ndim, three_dimensional.ndim

(1, 2, 3)

In [16]:
one_dimensional.dtype, two_dimensional.dtype, three_dimensional.dtype

(dtype('int64'), dtype('float64'), dtype('float64'))

In [17]:
one_dimensional.size, two_dimensional.size, three_dimensional.size

(3, 6, 18)

Given that Pandas is build on top of Numpy we can create Pandas data frames with Numpy arrays. As a matter of fact, Machine Learning's task is to find patterns in Pandas data which in turn conists of Numpy arrays. Thus, ML finds patterns in arrays (matrix).

In [27]:
import pandas as pd

In [28]:
data_frame = pd.DataFrame(two_dimensional)
data_frame

       0      1     2
0  12.12  22.00  44.0
1  33.00  66.44  99.0