In [ ]:
name = "Alexander"
age = 21

In [ ]:
print(name + ' is ' + str(age) + ' years old.')

In [1]:
from sklearn import datasets

iris_dataset = datasets.load_iris()

X = iris_dataset.data[:,:2]

x_count = len(X.flat)
x_min = X[:,0].min() - .5
x_max = X[:,0].max() + .5
x_mean = X[:,0].mean()

x_count, x_min, x_max, x_mean

(300, 3.7999999999999998, 8.4000000000000004, 5.8433333333333337)

In [7]:
from pandas import *

train_set = read_csv('train.csv')
train_set.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
male = train_set[train_set.Sex == 'male']
female = train_set[train_set.Sex == 'female']
first = train_set[train_set.Pclass == 1]
second = train_set[train_set.Pclass == 2]
third = train_set[train_set.Pclass == 3]

female_survival_rate = float(sum(female.Survived)/len(female)) * 100
male_survival_rate = float(sum(male.Survived)/len(male)) * 100

first_class_survivors = float(sum(first.Survived)/len(first)) * 100
second_class_survivors = float(sum(second.Survived)/len(second)) * 100
third_class_survivors = float(sum(third.Survived)/len(third)) * 100


print('(Female,Male) survivors: ' + str(female_survival_rate) + ',' + str(male_survival_rate))
print('(First Class) survivors: ' + str(first_class_survivors))
print('(Second Class) survivors: ' + str(second_class_survivors))
print('(Third Class) survivors: ' + str(third_class_survivors))

(Female,Male) survivors: 74.20382165605095,18.890814558058924
(First Class) survivors: 62.96296296296296
(Second Class) survivors: 47.28260869565217
(Third Class) survivors: 24.236252545824847